@model QUERION.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Password</h2>
@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />

    <input type="hidden" value="@Model.UserId" name="UserId" />

    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label", @style = "text-align: left;" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @id = "txtOldPassword", @style = "width:50%;" })
            @Html.ValidationMessageFor(m => m.OldPassword)
            <div class="text-danger" @*style="float:left;"*@ id="errOldPwd"></div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label", @style = "text-align: left;" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @id = "txtNewPwd", @style = "width:50%;" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label", @style = "text-align: left;" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "txtConfirmPwd", @style = "width:50%;" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
            <input type="button" value="Cancel" class="btn btn-default" onclick="goBack()" />
        </div>
    </div>
}

<script>

    function goBack() {
        window.history.back();
    }

    $(document).ready(function () {
        $("#errOldPwd").html(" ");
        $("#txtNewPwd").removeAttr('disabled');
        $("#txtConfirmPwd").removeAttr('disabled');
        $("input[type=submit]").removeAttr('disabled');

        $("#txtOldPassword").change(function () {
            $.ajax({
                type: "POST",
                //dataType:json,
                url: "/Login/VerifyOldPassword?userId=" +@Model.UserId + "&password=" + $(this).val(),
                success: function (data) {
                    $("#errOldPwd").html(" ");
                    $("#txtNewPwd").removeAttr('disabled');
                    $("#txtConfirmPwd").removeAttr('disabled');
                    $("input[type=submit]").removeAttr('disabled');
                    if (data != true)
                    {
                        $("#errOldPwd").html("Please enter correct current password.");
                        $("#txtNewPwd").attr("disabled", "disabled");
                        $("#txtConfirmPwd").attr("disabled", "disabled");
                        $("input[type=submit]").attr('disabled', 'disabled');
                    }
                },
                error: function (reponse) {
                    debugger;
                    alert(reponse);
                }
            });
        });
    });

</script>
